<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNG_Game_Ucc</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>playCardPlayerNotInTheGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>giveDicesPlayerNotInGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getCardsPlayerNotInAGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>playCardNotOwnedByThisPlayer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getCardsPlayerInAGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getDiceCountPlayerNotInAGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rollDicesTheTurn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>giveMoreDice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rollDicesNotTheTurn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getDiceCountPlayerInAGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>quitGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>playCardInvalidCardParameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>quitGamePlayerNotInGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>playCardNotTheTurn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rollDicesPlayerNotInTheGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>giveDices</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>playCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>playCardNotDiceToPlayThisCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>giveDicesNotTheTurn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
