<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.getCardsPlayerInAGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">getCardsPlayerInAGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.getCardsPlayerNotInAGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">getCardsPlayerNotInAGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.getDiceCountPlayerInAGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">getDiceCountPlayerInAGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.getDiceCountPlayerNotInAGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">getDiceCountPlayerNotInAGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.giveDices()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">giveDices</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.giveDicesNotTheTurn()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">giveDicesNotTheTurn</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.giveDicesPlayerNotInGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">giveDicesPlayerNotInGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.giveMoreDice()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">giveMoreDice</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCard()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCard</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCardInvalidCardParameter()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCardInvalidCardParameter</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCardNotDiceToPlayThisCard()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCardNotDiceToPlayThisCard</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCardNotOwnedByThisPlayer()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCardNotOwnedByThisPlayer</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCardNotTheTurn()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCardNotTheTurn</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.playCardPlayerNotInTheGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">playCardPlayerNotInTheGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:52</td>   <td>764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.quitGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">quitGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.quitGamePlayerNotInGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">quitGamePlayerNotInGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.rollDicesNotTheTurn()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">rollDicesNotTheTurn</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.rollDicesPlayerNotInTheGame()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">rollDicesPlayerNotInTheGame</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:51</td>   <td>-170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Game_Ucc.rollDicesTheTurn()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">rollDicesTheTurn</td> 
  <td>main@1286783232</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>15/12/18 14:51:49</td>   <td>-1715</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_Game_Ucc.setUpBeforeClass()[pri:0, instance:TestNG_Game_Ucc@3f3afe78]">&gt;&gt;setUpBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1286783232</td>   <td></td> </tr>
</table>
